@use '@styles/tools/focus' as focus;

.playerControl {
    margin-top: 70px;
    display: flex;
    gap: 27px;
    align-items: center;

    button {
        @include focus.focus(var(--colour-darkGreen));
    }
}

.controls {
    display: flex;
    gap: 15px;
}

.icon {
    max-height: 40px;
    max-width: 40px;
}

.sliderWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;

    span {
        font-size: 100%;
    }
}

.playerSlider {
    width: 90%;
    height: 24px;
}

.sliderTrack {
    background-color: var(--colour-beige);
    top: 0;
    bottom: 0;
    border-radius: 50px;

    &:first-of-type {
        background-color: var(--colour-pink);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.sliderThumb {
    background-color: var(--colour-brown);
    width: 20px;
    top: -10px;
    bottom: -10px;
    border-radius: 20px;
}
