.dropdown {
    p {
        font-size: 2rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 30px;
    }
}

.arrow {
    color: var(--colour-darkGreen);
    max-width: 20px;
    max-height: 20px;
    transition: all 0.5s;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.open {
    transform: translateY(-50%) rotate(180deg);
}

.dropdownPlaceholder {
    position: relative;
    padding: 15px;
    border-radius: 20px;
    margin: 30px 0;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    min-width: 350px;
    color: var(--colour-darkGreen);
}
