@use '@styles/tools/focus' as focus;
@use '@styles/settings/media' as media;

.pitchDetails {
}

.row {
    @include media.minWidth(smallDesktop) {
        display: flex;
        align-items: center;
        gap: 100px;
        margin-top: 80px;
    }
}

.pitch {
    @include media.minWidth(smallDesktop) {
        width: 80%;
    }
}

.editBtns {
    margin-top: 50px;

    @include media.minWidth(smallDesktop) {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 33px;
    }

    button {
        @include focus.focus(var(--colour-darkGreen));
        cursor: pointer;

        @include media.minWidth(smallDesktop) {
            display: block;
        }

        &.active {
            background-color: var(--colour-blush);
            border-radius: 50%;
        }
    }

    svg {
        max-width: 70px;
        max-height: 70px;
    }
}

.controls {
}
