@use '@styles/settings/media' as media;
@use '@styles/objects/container' as container;

.pageHeader {
    position: relative;
    background-color: #eae2e2;
    padding: 15px 0 80px 0;

    @media print {
        display: none;
    }
}

.hamburger {
    top: 30px;
}

.container {
    @include container.container;
}

.inner {
    display: flex;
    justify-content: flex-end;
}
