@use "@styles/objects/container" as container;
@use "@styles/elements/header" as header;
@use "@styles/settings/media" as media;

.games {
  h1 {
    @include header.h1;
  }

  h1,
  h2 {
    font-weight: 400;
    font-family: var(--font-body);
    letter-spacing: 2px;
  }

  h2 {
    color: var(--colour-black);
    font-size: 3.75rem;
    font-family: var(--font-karla);
  }
  span {
    font-size: 1.5rem;
    @include media.minWidth(tablet) {
      font-size: 2rem;
    }
  }
}

.head {
  background-color: var(--colour-lightPink);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 40px;
}

.container {
  @include container.container;
}
