@use '@styles/objects/container' as container;
@use '@styles/elements/header' as header;
@use '@styles/settings/media' as media;

.game {
    padding: 60px 0;
    position: relative;

    h1 {
        @include header.h1;
        font-family: var(--font-body);
    }
}

.accordion {
    padding-top: 70px;
}

.dropdown {
    position: absolute;
    right: 17px;
    top: -5px;
}

.container {
    @include container.container;
}

.score {
    color: var(--colour-black);
}

.date {
    font-size: 2.4rem;
    color: var(--colour-black);
    text-transform: uppercase;
    margin-top: 25px;
}

.type {
    margin-left: 30px;
    background-color: rgba(63, 97, 104, 0.21);
    padding: 8px;
    border-radius: 20px;
    font-weight: 700;
}

.info {
    position: relative;

    @media print {
        display: none;
    }

    h1 {
        padding-right: 180px;
    }

    .eventsBtn {
        font-size: 1.8rem;
        padding: 15px 10px;
        text-align: center;

        @include media.minWidth(smallDesktop) {
            font-size: 2.6rem;
            padding: 20px 15px;
            border-radius: 30px;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}
