.pageHome {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.1fr 0.3fr 0.5fr 0.1fr;
  align-items: center;
  grid-template-areas:
    "head head"
    "btn btn"
    "match upcoming"
    "logo logo";

  h1 {
    font-family: var(--font-karla);
    font-weight: 500;
    color: var(--colour-black);
    font-size: 4.5rem;
    letter-spacing: 2.5px;
  }
}
.heading {
  grid-area: head;
  justify-self: end;
}

.name {
  font-weight: 200;
  margin-left: 15px;
}

.homebutton {
  grid-area: btn;
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.btn {
  color: var(--colour-white);
  background-color: var(--colour-darkGreen);

  &:hover,
  &:active {
    color: var(--colour-darkGreen);
    background-color: var(--colour-mintGreen);
  }
}

.upcomingContainer {
  grid-area: upcoming;
  font-size: 2.75rem;
  color: var(--colour-black);

  align-self: start;
  justify-self: end;

  display: flex;
  align-items: flex-end;
  gap: 50px;
}

.upcoming {
  display: flex;
  flex-direction: column;
  text-align: end;
  gap: 25px;
  font-family: var(--font-karla);
}

.live {
  max-width: 75px;
}

.logocontainer {
  grid-area: logo;
  justify-self: flex-end;
}

.logo {
  min-width: 520px;
  //
}
