@use '@styles/objects/container' as container;

.playerPage {
    h1 {
        font-size: 3.5rem;
        font-weight: 400;
        letter-spacing: 1.5px;
        margin: 20px 0;
    }

    h2 {
        font-family: var(--font-karla);
        font-weight: 500;
        font-size: 3.25rem;
    }
}

.heading {
    text-align: end;

    span {
        font-weight: 600;
    }

    p {
        font-size: 2rem;
    }
}

.container {
    @include container.container;
}

.btn {
    border-radius: 60px;
    font-size: 3.25rem;
    padding: 45px 30px;
    color: var(--colour-darkGreen);
    background-color: var(--colour-mintGreen);

    &:hover,
    &:active {
        color: var(--colour-white);
        background-color: var(--colour-darkGreen);
    }
}
