:root {
  --colour-text: #605a64;
  --colour-black: #000000;
  --colour-white: #ffffff;
  --colour-darkGreen: #3f6168;
  --colour-dimGreen: #3f616836;
  --colour-blush: #e3cccc;
  --colour-darkerPink: #b5758c;
  --colour-darkPink: #c1afaf;
  --colour-pink: #daafaf;
  --colour-lightPink: #f4ebeb;
  --colour-tonePink: #e4d8d8b2;
  --colour-lighterBeige: #f8f5f4;
  --colour-lightBeige: #f3f1f0;
  --colour-beige: #ddd7d5;
  --colour-brown: #605a64;
  --colour-beigeBrown: #9a8b7e;
  --colour-lightBlue: #b3d7df;
  --colour-manc: #65afc6;
  --colour-mintGreen: #c5dade;
  --colour-greenBlack: #444e50;
  --colour-lightGrey: #edeff3;
  --colour-darkGrey: #eaeeee;
  --colour-lighterGrey: rgb(240, 237, 237);
  --colour-darkerGrey: rgb(122, 121, 121);
  --colour-darkBlue: #1a3966;
}
